[Unit]
Description=univalent first run service
After=network.target

[Service]
ExecStart=/bin/bash -c "/usr/local/bin/univafirstrun.sh"
ExecStop=/bin/kill ${MAINPID}
Restart=no
Type=oneshot

[Install]
WantedBy=multi-user.target